@import "../../app.component.scss";

.admin {
    display: flex;
    overflow-x: hidden;
}

.admin__page-content {
    min-width: 100vw;
}

@media (min-width: 768px) {
    
    .admin__page-content {
        min-width: 0;
        width: 100%;
    }

    .sidebar {
        margin-left: 0;
    }

}