<footer class="pt-5 pb-3 text-white bg-dark">
    <div class="container">

        <div class="row mx-2 mb-4">

            <div class="col-12 col-md-4">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a [routerLink]="['/']" routerLinkActive="router-link-active" class="nav-link p-0 text-muted">
                            Home
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
                            class="nav-link p-0 text-muted">
                            Features
                        </a>
                    </li>
                </ul>
            </div>
    
            <div class="col-12 col-md-4">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a [routerLink]="['/']" routerLinkActive="router-link-active" class="nav-link p-0 text-muted">
                            Home
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
                            class="nav-link p-0 text-muted">
                            Features
                        </a>
                    </li>
                </ul>
            </div>
    
            <div class="col-12 col-md-4">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2">
                        <a [routerLink]="['/']" routerLinkActive="router-link-active" class="nav-link p-0 text-muted">
                            Home
                        </a>
                    </li>
                    <li class="nav-item mb-2">
                        <a [routerLink]="['/contact']" routerLinkActive="router-link-active"
                            class="nav-link p-0 text-muted">
                            Features
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    
        <!-- Bottom -->
        <div class="d-flex justify-content-center justify-content-lg-between align-items-center flex-column flex-lg-row-reverse pt-4 border-top">
            <ul class="list-unstyled d-flex">
                
                <li class="ms-3">
                    <a class="link-light" href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </li>
    
                <li class="ms-3">
                    <a class="link-light" href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
    
                <li class="ms-3">
                    <a class="link-light" href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
    
            </ul>
            <p>&copy; 2021 Company, Inc. All rights reserved.</p>
        </div>

    </div>
</footer>