/*==================================
Colors for admin
==================================*/

$admin-primary-color: #150f55 !important;
$admin-secondary-color: #e8f4ff !important;

/*==================================
Colors for public
==================================*/

/*==================================
Common colors
==================================*/

$logout-color: #e94141 !important;
$logout-color-hover: #a70f0f !important;